:root{
    --background-color: #010137;
    --base-link-color: #ffffff;
    --primary-color: #8C8BDA;
    --secondary-color: #e68;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Outfit', sans-serif;

    --base-font-size: 1rem;
}
body{
    background: var(--background-color);
    color:white;
    font: var(--base-font-size) / 1.6 var(--font-primary)
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

a{
    color: var(--base-link-color);
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    line-height: 4rem;
    font-size: 1.25rem;
    font-family: var(--font-secondary);
    font-weight: bold;
}

.logo{
    margin-right: auto;
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-basis: 33.33%;
    gap:30px;
}

.menu-items{
    text-align: right;
}

.hero{
    margin-top:5rem;
    margin-bottom:5rem;
    display:flex;
    justify-content: space-between;
    background: var(--background-color);
    font: 2rem / 1.6 var(--font-primary);
}
.hero h1{
    font-size: 5rem;
    margin-top: 5rem;
    font-weight: bold;
    line-height:4.5rem;
    margin-bottom:0px;
}

.sub-text{
    font-size: 1rem;
    width:65%;
}

.hero-section{
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    background-repeat: no-repeat;
    height: calc(50vh - 5rem);
    margin-bottom:5rem;
}

a.pill-link{
    display: inline-block;
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color:#fff;
    text-decoration: none;
    transition: background-color .3s ease;
    width: 30%;
    height: 3rem;
    align-content: center;
    font-weight:450;
}
a.alt-pill-link{
    display: inline-block;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    color:#fff;
    text-decoration: none;
    transition: background-color .3s ease;
    width: 30%;
    height: 3rem;
    border-color: #99D5D6;
    border-width: 1px;
    border-style:solid;
    align-content: center;
    font-weight:450;
}

.hero-text{
    width:50%;
}

.hero-image{
    max-width:50%;
    height:auto;
    align-self: flex-end;
}

.elip1{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 5rem;
}

.elip2{
    position: absolute;
    z-index: 0;
    right: 0;
    top: 10px;
}

.subheading{
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing: .2rem;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom:4rem;
}

.text-container {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: rgba(84, 79, 139, .18);
    padding:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image-container img{
    max-height: 5rem;
}